body {
    padding: 0;
    margin: 0;
    background: linear-gradient(0deg, lightgrey 50%, dimgrey 100%);    background-position: bottom;
    transition: background-position 2s ease-in-out;
    background-size: 200% 300%;
    background-position: bottom;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body.windows-hovered {
    background-position: top;
}

.window {
    overflow: hidden;
    border-radius: 270px;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1vw;
    width: 45vh;
    max-width: 25vw;
    height: 60vh;
    max-height: 35vw;
    background: linear-gradient(0deg,
      powderblue 25%, 
      skyblue 40%,
      dodgerblue 70%,
      midnightblue 100%);
    transition: background-position 2s ease-in-out;
    background-size: 200% 300%;
    background-position: bottom; 
    display: block;
}

.window.hovered {
    background-position: top;
}

.cloud { 
    width: 30%;
    height: 10%;
    right: 150px;
    background:#ECEFF1;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: relative;
    margin: 20px;
}

.cloud::after, .cloud::before {
    content: "";
    position: relative;
    display: inline-block;
    background: inherit;
    border-radius: 50%;
}

.cloud::after {
    aspect-ratio: 1 / 1;
    height: 75%;
    top: -40%;
    left: 10%;
}

.cloud::before {
    aspect-ratio: 1 / 1;
    height: 90%;
    top: -45%;
    left: 20%;
}

.top {
    top: 20%;
    animation: cloud-transition 10s infinite linear;
}

.middle {
    top: 30%;
    animation: cloud-transition 10s infinite ease-out;
}

.bottom {
    top: 40%;
    animation: cloud-transition 10s infinite ease-in-out;
}

@keyframes cloud-transition {
    0% { 
        transform: translate(0px, -50%);
    }
    100% {
        transform: translate(500px, -50%);
    }
}