body {
    padding: 0;
    margin: 0;
    background-color: midnightblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    overflow: hidden;
    border-radius: 50%;
    width: 270px;
    height: 400px;
    position: relative;
}

.sky {
    position: absolute;
    inset: 0;
}

.wing {
    position: absolute;
    bottom: 0;
    left: 0;
}

.cloud { 
    width: 350px;
    height: 120px;
    background:#ECEFF1;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

.cloud::after, .cloud::before {
    content: "";
    position: relative;
    display: inline-block;
    background: inherit;
    border-radius: inherit;
}

.cloud::after {
    width: 100px;
    height: 100px;
    top: -220px;
    left: 50px;
}

.cloud::before {
    width: 180px;
    height: 180px;
    top: -70px;
    left: 130px;
}



@keyframes sky-transition {
    
}

@keyframes cloud-transition-1 {
    0% {}
    100% {}
}

@keyframes cloud-transition-2 {
    0% {}
    100% {}
}

@keyframes cloud-transition-3 {
    0% {}
    100% {}
}